body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(45,40,40);
background: linear-gradient(90deg, rgba(45,40,40,1) 12%, rgba(63,200,203,1) 47%, rgba(21,115,101,1) 87%);
}

code {
  font-family: 'Courier New', source-code-pro, Menlo, Monaco, Consolas,
    monospace,
}


.part{
z-index: -1;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

.center{
  display: flex;
  justify-content: center;
}

.bounding-box{
  position: absolute;
  box-shadow: 0 0 0 3px #f21b14 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}